
.bg {
    background-image:url(images/fast_food_burger-wallpaper-1600x900.jpg);
    position:relative;
}


#upperm ul li{

    list-style: none;
    display: inline-block;
    border-color: rgba(20, 222, 191, 0.3);
    border-top-color:transparent;



}
#upperm ul li a{
    padding: 23px;
    display:inline-block;
    text-decoration: none;
    font-family:Poiret One;
    font-size: 30px;
    color:aliceblue;

}
#upperm ul li a:hover{
    border-color:transparent;
    box-shadow: 0 -10px 5px 2px;
    background-color:rgba(20, 222, 191, 0.3);
}


#header h1{
    display:block;
    margin-top:60px;
    margin-left:350px;
    margin-right:500px;
    padding-left:30px;
    border:solid 1px transparent;
    background-color:rgba(20, 222, 191, 0.3);
    font-size: 44px;
    font-family:Roboto Condensed;
    color:#14232f;
}
