
.bg {
    background-image:url(images/fast_food_burger-wallpaper-1600x900.jpg);
    position:absolute;
    max-width:100%;
    height: auto;
}

#upperm ul{
    display: inline-block;
    border: transparent solid;

}
#upperm ul li{

    list-style: none;
    display: block;
    padding: 30px;
    float: left;
    height: 60px;
    line-height: 40px;
    border-color: rgba(20, 222, 191, 0.3);
    border-top-color:transparent;



}
#upperm ul li a{
    text-align: center;
    text-decoration: none;
    font-family:Poiret One;
    font-size: 30px;
    color:aliceblue;

}
#upperm a{
    display: block;
}

}

#upperm ul ul li{
    display: block;
    padding:8px;
}

#upperm ul ul{
    display: none;
}
#upperm ul li :hover{
    border-color:transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:rgba(20, 222, 191, 0.3);
}
#upperm ul li:hover > ul{
    display: block;
}



#header h1{
    display:block;
    border:solid 1px transparent;
    font-size: 44px;
    font-family:Roboto Condensed;
    color: #5f564a

}
#table {
    display: block;
    border: solid 3px;
    width: 3%;
    border-collapse:collapse;
    font-size:24px;
    color: transparent;
}
#table td:hover{
    color: rgba(18, 15, 1, 0.3);
    box-shadow: 3px 0 9px 9px;
}

#capt{
    font-family: Roboto Condensed;
    font-size: 38px;
    padding-bottom: 30px;
    color: #2f2626

}
#form_warp {
    display: block;
    border: solid 6px;
    padding:58px;
    color: black;
}
#form_warp form{
    margin: 40px;
}





#in {
    display: block;
border: solid 9px blue;
    margin: 55px;
    background-color:

}

#upperm2 {
    display: block solid 12px;;

    font-size: 44px;
    background-color: green;

}
#upperm2 ul{
    display: inline-block;
    border: transparent solid;

}
#upperm2 ul li{

    list-style: none;
    display: block;
    padding: 30px;
    float: left;
    height: 60px;
    line-height: 40px;
    border-color: rgba(20, 222, 191, 0.3);
    border-top-color:transparent;



}
#upperm2 ul li a{
    text-align: center;
    text-decoration: none;
    font-family:Poiret One;
    font-size: 30px;
    color:aliceblue;

}
#upperm2 a{
    display: block;
}

#upperm2 ul ul li{
    display: block;
    padding:8px;
}

#upperm2 ul ul{
    display: none;
}
#upperm2 ul li :hover{
    border-color:transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:rgba(20, 222, 191, 0.3);
}
#upperm2 ul li:hover > ul{
    display: block;
}



#text {
    padding: 14px;
}

.art {
    display: block;
    background-color: mediumslateblue;
    margin:5px;
}
.art p{
    display: block solid;
    margin: 19px;
    padding-top: 10px;
}

#menu3 {
    background-color: #465a0f;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


}

#upperm3 {
    display: block;
    font-size: 44px;

}
#upperm3 ul{
    display: inline-block;
    border: transparent solid;

}
#upperm3 ul li{

    list-style: none;
    display: block;
    padding: 30px;
    float: left;
    height: 60px;
    line-height: 27px;
    border-color: rgba(10, 11, 11, 0.3);
    border-top-color:transparent;



}
#upperm3 ul li a{
    text-align: center;
    text-decoration: none;
    font-family:Poiret One;
    font-size: 30px;
    color:aliceblue;

}
#upperm3 a{
    display: block;
}

#upperm3 ul ul li{
    display: block;
    padding:8px;
}

#upperm3 ul ul{
    display: none;
}
#upperm3 ul li :hover{
    border-color:transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:rgba(20, 222, 191, 0.3);
}
#upperm3 ul li:hover > ul{
    display: block;
}
#head{
display: block;
margin: 20px;
    font-family: poier one;


}

#head2 {
    display: block;
    border: solid 6px;
    padding: 25px;
    margin: 20px;
    border-top-left-radius:6px;
    border-top-right-radius: 6px;
    width: 50%;
    font-family: poriet one;
    font-size:24px;


}


#lis ul li{
    display: block solid;
    padding: 6px;
}






#lis li {
    font-size: 23px;
    font-family: roboto Condensed;
    color: #100808;
}



#headerabt {
    display: block solid 4px;
    font-family: poiret One;
    color: black;
}

#fotter {
    display: block solid 6px;
    font-family: cursive;
    font-size: 23px;
    color: black;
}

#formtab {
    color: black;

}

#bd {
    background-image: url(images/fast_food_burger-wallpaper-1600x900.jpg);
    width: 100%;
    height: auto;
}

#eve {
    margin: 24px;
}
